/*  */
.header {
    width: 200px;
    border: solid;
    align-content: center;
    align-items: center;
    background-color: thistle;
    text-decoration: underline;
    margin-left: 570px;
}

.fill {
    text-decoration: underline;
}